<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Termin02/src/rs/ac/uns/ftn/informatika/dosk/java/vezbe02/primer03/Arrays03.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="rs.ac.uns.ftn.informatika.dosk.java.vezbe02.primer03.Arrays03"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Termin02"/>
</launchConfiguration>
