<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Termin1/src/rs/aleph/jwd13/t1/zad4/Zadatak4.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="rs.aleph.jwd13.t1.zad4.Zadatak4"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Termin1"/>
</launchConfiguration>
